<tomcat-users 
<role rolename="manager-gui"/>
<role rolename="admin-gui"/>
<user username="lingaswamy" password="redhat" roles="manager-gui,admin-gui"/>
</tomcat-users>
                                                                    