anonymous_enable=NO             # disable  anonymous login
local_enable=YES                # permit local logins
write_enable=YES                # enable FTP commands which change the filesystem
local_umask=022                 # value of umask for file creation for local users
dirmessage_enable=YES           # enable showing of messages when users first enter a new directory
xferlog_enable=YES              # a log file will be maintained detailing uploads and downloads
connect_from_port_20=YES        # use port 20 (ftp-data) on the server machine for PORT style connections
xferlog_std_format=YES          # keep standard log file format
listen=NO                       # prevent vsftpd from running in standalone mode
listen_ipv6=YES                 # vsftpd will listen on an IPv6 socket instead of an IPv4 one
pam_service_name=vsftpd         # name of the PAM service vsftpd will use
userlist_enable=YES             # enable vsftpd to load a list of usernames
tcp_wrappers=YES
rsa_cert_file=/etc/ssl/certs/ssl-cert-snakeoil.pem
rsa_private_key_file=/etc/ssl/private/ssl-cert-snakeoil.key
ssl_enable=NO
